{% extends "layout.html" %}
{% block body %}
  <h2>Job List</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>
  {% else %}
    <table class="joblist">
       <tr>
         <th>Edit</th>
         <th>Name</th>
         <th>State</th>
         <th>Description</th>
       </tr>
    {% for job in jobs %}
      <tr>
        <td>
          <a href="{{ url_for ('onejob') ~ '?id=' ~ job.id }}">
            Edit job {{ job.id }}
          </a>
        </td>
        <td>{{ job.name|safe }}</td>
        <td>{{ job.state|safe }}</td>
        <td>{{ job.desc|safe }}</td>
      </tr>
    {% else %}
      <tr><td></td><td>(No active jobs.)</td></tr>
    {% endfor %}
    </table>
  <h2>Add a job</h2>
  <form action="{{ url_for ('jobs') }}" method=post>
    <dl>
      <dt>Job name:</dt>
      <dd><input type=text size=30 name=jobname></dd>
      <dt>Description:</dt>
      <dd><textarea name="description"></textarea></dd>
      <dd><input type=submit value=Enter></dd>
    </dl>
  </form>
  {% endif %}
{% endblock %}
